/*Page Navigation*/

 {% if childPage.DisplayChildPages == 'true' and childPage.Pages != empty %}
    <b class="fa fa-caret-down dropdown-toggle" data-toggle="dropdown"></b>
{% endif %}

{% if childPage.DisplayChildPages == 'true' and childPage.Pages != empty %}
    <ul class="dropdown-menu">
        {% for grandchildPage in childPage.Pages %}
            <li>
                <a class="dropdown-item" href="{{ grandchildPage.Url }}">{{ grandchildPage.Title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}